

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
/*This is where the reset ends*/

body {margin: 0 auto; 
	height:800px;
	font-family:verdana;
	

}

#site-wrapper {background-color: #F0FFD4;
	           position: absolute;
	           top:0px;
	           width:100%;
	           height:120px;
	           


}

#site-wrapper h1 a {display:block; 
	                width:300px; 
                     height:119px;
	                 background:url(images/robo.png) no-repeat top left; 
                     text-indent:-9999px;
                     margin-left: 242px;


}


#top-nav {float:right;
	      top:3px;
	      padding:3px;
	      height:100%;
	      width:140px;
	      padding-bottom:30px;
	      position:absolute;
	      left:930px;
	      color:#663300;
	      font-size:10px;

}


#main-menu{background-color: #754719;
	     color:white;
	     margin:0px;
         padding:10px;
         position:relative;
         width:100%;
	           height:23px;
	           top:119px;

}



#main-menu ul
{
list-style-type:none;
margin:10px;
padding:10px;
position:relative;
     top:0px;
     text-align:center;
     display:inline;
     margin-left: 210px;

 }

 a {
  color:inherit;
  text-decoration: none;
 }

#main-menu li
{
display:inline;
font-weight:bold;
margin:13px;
padding:0px;
color:#FFFFFF;
text-transform:uppercase;
font-size:14px;
}

#page {font-family:verdana;
	   padding-top:193px;
	   padding-left:250px;
	   height:300px;
	   width:560px;
	   float:left;
	   position:relative;
	   line-height:120%;


}

#page h1 {font-family: verdana;
	         color:#663300;
	         font-size:30px;
	         font-weight: bold;
	         margin-bottom:12px;
	         margin-top:10px;
	         text-transform:uppercase;

}
#page h2 {font-family: verdana;
	         color:#663300;
	         font-size:15px;
	         font-weight:bold;
	         margin-bottom:9px;
	         margin-top:15px;
             text-transform:uppercase;

}


#sidebar {float:left;
           top:204px;
           width:300px;
           height:160px;
           position:relative;
           margin-left:120px;
           font-size:12px;
           color:#754719;
           line-height: 134%;

}


#sidebar h1 {color:#8A5C2E;
	         font-size:17px;
             font-weight:bold;
             text-transform:uppercase;
}

#pets {padding-top:10px;

}

#footer-wrapper {background-color:#8A5C2E;
	             width:100%;
	             height:140px;
	             position:absolute;
	             bottom:-380px;

}

#footer-follow {left:-300px;
	float:right;
	position: relative;
bottom: 100px;
}


}

.buttons {list-style-type:none;
margin:10px;
padding:10px;
position:relative;
     top:0px;
     text-align:center;
     display:inline;
     

}

.buttons li {display:inline;
font-weight:bold;
margin:3px;
padding:0px;


}

#footer-contact {font-family:verdana;
	color:#FFFFFF;
	width:230px;
	margin-top:12px;
	margin-left: 120px;
    line-height:120%;
    font-weight:bold;
}

#footer-contact h1 {color:#B5916C;
	font-weight:bold;
	font-size:19px;

}




#footer-follow h1 {color:#D1C2B2;
	                font-size:19px;
	                padding-bottom:7px;
	                font-family: verdana; 
	                text-transform: uppercase;


}
